.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 40px;
  background: url("YOUR_BACKGROUND_IMAGE_URL") no-repeat center center fixed;
  background-size: cover;
  animation: moveBackground 40s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.signup-form {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-logo-form,
.logo {
  width: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* animation: rotateLogo 4s linear infinite; */
}

/* @keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-group label {
  display: block;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: bold;
}

.signup-form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.signup-form-group input:focus {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.signup-form-group button,
.back-to-login button {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
  transition: background-color 0.3s;
  background-color: #007bff; /* Blue */
}

.signup-form-group button:hover,
.back-to-login button:hover {
  background-color: #0056b3;
}

.error,
.success {
  padding: 10px;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}

.error {
  background-color: #dc3545;
}

.success {
  background-color: #28a745;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  background-color: #007bff; /* Default for information messages */
  animation: slideIn 0.5s forwards, fadeOut 3s 3s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 20px;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
